<form method="post">

    <!-- Product ID -->
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">Product ID</div>
        <div class="col-md-10 form-group">
            <input class="form-control" type="number" id="product_id" name="product_id" autocomplete="off" placeholder="Product ID">
        </div>
    </div>

    <!-- Name -->
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">Name</div>
        <div class="col-md-10 form-group">
            <input class="form-control" type="text" id="name" name="product_id" autocomplete="off" placeholder="Name">
        </div>
    </div>

    <!-- Descripition -->
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">Description</div>
        <div class="col-md-10 form-group">
            <textarea class="form-control" id="description" placeholder="Description"></textarea>
        </div>
    </div>

    <!-- Price -->
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">Price</div>
        <div class="col-md-10 form-group">
            <input class="form-control" type="number" id="price" name="product_id" autocomplete="off" placeholder="Price">
        </div>
    </div>

    <!-- Currency -->
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">Currency</div>
        <div class="col-md-10 form-group">
            <select class="form-control" id="currency">
                <option value="" selected>Select currency from the list</option>
            </select>
        </div>
    </div>

    <!-- CAtegory -->
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">Category</div>
        <div class="col-md-10 form-group">
            <select class="form-control" id="category">
                <option value="" selected>Select category from the list</option>
            </select>
        </div>
    </div>


    <!-- product URL -->
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">Product URL</div>
        <div class="col-md-10 form-group">
            <input class="form-control" type="url" id="product_url" name="product_url" autocomplete="off" placeholder="Product URL">
        </div>
    </div>

    <!-- Image URL -->
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">Image URL</div>
        <div class="col-md-10 form-group">
            <input class="form-control" type="url" id="image_url" name="image_url" autocomplete="off" placeholder="Image URL">
        </div>
    </div>

    <!-- submit -->
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Search</button>
        </div>
    </div>
</form>